<link rel="stylesheet" href="/stylesheets/index.css">

<main style="position: fixed">

    <div class="content">

        <div class="slider_head">
            <a id="link" href="/ngnl/wiki">
                <ul id="slides">
                    <li class="slide showing">
                        <img src="/img/anime_img1.png" alt="No game no life">
                        <span class="title">
                            <div class="english">NO GAME <br>NO LIFE<br></div>
                            ノーゲーム・ノーライフ
                        </span>
                    </li>
                    <li class="slide">
                        <img src="/img/anime_img3.png" alt="Noragami">
                        <span class="title">
                            NORAGAMI<br>
                            ノラガミ
                        </span>
                    </li>
                    <li class="slide">
                        <img src="/img/anime_img2.jpg" alt="Kill la kill">
                        <span class="title">
                            KILL LA KILL<br>
                            キルラキル
                        </span>
                    </li>
                </ul>
            </a>
        </div>

    </div>

</main>


<script type="text/javascript">
    const slides = document.querySelectorAll('#slides .slide');
    const a = document.getElementById('link');
    const links = [
        '/ngnl/wiki',
        '/noragami/wiki',
        '/killlakill/wiki'
    ];
    var current = 0;
    var interval = setInterval(next, 3000);

    function next() {
        slides[current].className = 'slide';
        current = (current + 1) % slides.length;
        slides[current].className = 'slide showing';
        a.href = links[current];
    }
</script>
