<header>
    <div class="logo">
        Jouetsu University <span>じょうえつきょういくだいがく</span>
    </div>
</header>

<main>

    <div class="content">

        <div class="slder_head">
            <ul id="slides">
                <li class="slide showing"><a href=""><img src="/img/anime_img1.png" alt="Kill la kill"></a></li>
                <!--<li class="slide"><a href=""><img src="/img/anime_img2.jpg" alt="No game no life"></a></li>
                <li class="slide"><a href=""><img src="/img/anime_img3.png" alt="Noragami"></a></li>
            --></ul>
        </div>

    </div>

</main>