<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>

    <header>
        <div class="logo">
            Jouetsu University <span>じょうえつきょういくだいがく</span>
        </div>
    </header>

    <main>

        <div class="content">

            <div class="slider_head">
                <ul class="content_slider">
                    <li id="slider1"></li>
                    <li id="slider2"></li>
                    <li id="slider3"></li>
                </ul>
            </div>

        </div>

    </main>

    <footer>

    </footer>

    {{{body}}}
  </body>
</html>
