<link rel="stylesheet" href="/stylesheets/wiki.css">
<main>
<div class="main">
    <div class="wiki_content1">
        <h1>Kill la kill - wiki</h1>
        <p class="paragraf" style="text-indent: 25px">
            Kill la Kill (яп. キルラキル Киру ра Киру, неоф. рус. «Убей или умри») — аниме-сериал студии Trigger, а также манга в жанре сэйнэн, иллюстрированная Рё Акидзуки. Kill la Kill является первым собственным и оригинальным аниме-проектом компании Trigger, созданным под руководством Хироюки Имаиси, а сценарий к нему написан Кадзуки Накасима, вместе с которым они ранее работали над созданием «Гуррен-Лаганна». Премьера аниме состоялась 3 октября 2013 года на канале MBS. Компания Aniplex of America лицензировала данное аниме для одновременной передачи по телевидению и выпуска для домашнего просмотра. Манга-адаптация, иллюстрированная Рё Акидзуки, начала публикацию в журнале сэйнэн-манги Young Ace, выпускаемого издательской компанией Kadokawa Shoten, 4 октября 2013 года, после премьерного показа первой серии аниме.
        </p>
        <p class="paragraf" style="text-indent: 25px">
            Подробности<br>
            Kill la Kill является первым аниме-телесериалом студии Trigger, которая была создана в 2011 году двумя бывшими сотрудниками студии GAINAX, Масахико Оцукой и Хироюки Имаиси. Впервые это аниме было упомянуто в феврале 2013 года в журнале Newtype.

            Кадзуки Накасима и Хироюки Имаиси вместе создавали концепцию серий (Накасима как сценарист, а Имаиси в качестве режиссёра). Они оба работали над «Гуррен-Лаганном», а также Сигэто Кояма, дизайнер персонажей, Тоёнори Ямада, оператор, и Дзюнъити Уэмацу в качестве монтажёра серий. Таким образом собралось много знакомых людей, работавших ранее вместе для создания нового аниме.

            Первая трансляция состоялась 3 октября на канале MBS в Кансае, затем на TBS в Токио (регион Канто) и на CBC в Нагое с 5 октября, и на BS-TBS с 6 октября по спутниковому телевидению по всей стране.

            Уже до премьеры сериал был лицензирован компанией Aniplex of America для одновременного вещания вместе с субтитрами на английском языке и в то же время для выхода на видеоплатформе daisuki.net по всему миру (за исключением Австралии, Новой Зеландии, Великобритании, Ирландии, Франции и некоторых франкоговорящих и азиатских стран) с субтитрами на английском, итальянском, испанском, португальском и немецком языках. В Северной Америке права приобретены компаниями Crunchyroll и Hulu, в Австралии и Новой Зеландии — Madman Entertainment, а для франкоязычных стран серии лицензированы компанией Wakanim, которые транслировались одновременно с Японией, а также субтитры на немецком языке на daisuki.net (из-за разных часовых поясов) были частью сублицензирования компании Peppermint Anime. Таким образом, данное аниме набрало популярность ещё до выхода первой серии.

        </p>
        <p class="paragraf" style="text-indent: 25px">
            Сюжет<br>
            Рюко Матой — девушка, путешествующая вместе с гигантской половиной ножниц в качестве оружия, похожей на алый меч, для того, чтобы найти обладателя другой половины ножниц, того человека, который убил её отца, Иссина Матой. Рюко поступает в академию Хоннодзи (яп. 本能字学園 Хонно:дзи Гакуэн), в старшую школу, которая живёт и существует в страхе. Эта вымышленная академия находится в Токийском заливе, в постапокалиптической Японии. Правит этой школой студенческий совет во главе с президентом студенческого совета, Сацуки Кирюин. Эти люди обладают необычной униформой, которая известна как «униформа Гоку» (яп. 極制服 гокусэйфуку, букв. «высококачественная униформа» от «гокусэй» + «сэйфуку»), которая способна раздавить любого на своём пути. Сторонники Сацуки — «элитная четвёрка» (яп. 四天王 ситэнно) академии Хоннодзи, которые обладают трёхзвёздной униформой Гоку. После того, как Рюко потерпела поражение от рук Сацуки, которая что-то знает о ножницах и связана с убийством отца Матой, Рюко падает в подвал, где находит странную школьную униформу-матроску, которая умеет двигаться и разговаривать, названная самой Рюко как Сэнкэцу, которая «надевается» на Рюко, обеспечивая ей необычные способности. После «объединения» с Сэнкэцу, Рюко возвращается в академию, чтобы отомстить Сацуки, которая использует униформу в своих целях, и студенческому совету, который держит в страхе всю академию. Используя способности Сэнкэцу, Рюко противостоит Сацуки и её приспешникам, чтобы освободить академию Хоннодзи и выяснить правду о своём отце.
        </p>
        <p class="paragraf" style="text-indent: 25px">
            Персонажи<br>

            Основные персонажи<br>

            <br>Рюко Матой (яп. 纏 流子 Матой Рю:ко, англ. Ryuko Matoi)<br>
        </p>
        <p class="paragraf" style="text-indent: 25px">
            <img class="img_persone" src="/img/character/p_img1.jpg">
            <br> Рюко
            Семнадцатилетняя девушка, а также путешествующая по миру ученица, которая вместо оружия использует «половину» алых гигантских ножниц. Рюко переводится в академию Хоннодзи для того, чтобы найти убийцу своего отца, вероятно, обладающего второй половиной этих ножниц. Собственной силы Рюко оказалось недостаточно, чтобы бороться против студенческого совета, и поэтому она объединяется вместе с Сэнкэцу, необычной униформой, которую Рюко случайно нашла, провалившись в подвал своего дома. Оружие Рюко способно уничтожать униформу Гоку, поэтому Рюко — враг студенческого совета, который использует эту униформу для улучшения способностей. После начала событий Рюко поселяется в доме семьи Манкансёку, которые рады её присутствию. Младшая сестра Сацуки, считавшаяся погибшей во младенчестве из-за неудачного эксперимента с вживлением в тело нитей жизни. В отличие от Сацуки считается «удачным результатом» эксперимента Рагё, так как её организм частично состоит из тканевых нитей, что позволяет так удачно взаимодействовать с Сэнкэцу.<br>
        </p>
        <p>
            <img class="img_persone2" src="/img/character/p_img6.jpg">
            <br>Сэнкэцу (яп. 鮮血 букв. «Алая (свежая) кровь», англ. Senketsu)
            Живая школьная униформа-матроска, которая насильно объединилась с Рюко. На самом деле имя этой униформе — Камуй (яп. 神衣 букв. «одежда Бога»). Несмотря на то, что это неодушевлённый предмет, Камуй сам по себе может передвигаться, совершать некоторые действия, а также разговаривать. Умеет оценивать состояние носителя вплоть до мельчайших деталей и психического состояния, совершая некий анализ. Голос Камуя слышит только Рюко. Камуй на 100 % состоит из жизненных нитей, которые содержатся в униформе Гоку в концентрации от 10-30 %. У Сэнкэцу есть способность превращаться в металлическую форму, обеспечивая своему носителю огромную силу, хотя на первый взгляд так не кажется. «Боевой вид», который принимает Сэнкэцу на Рюко, смущает её из-за своей откровенности. Имя «Сэнкэцу» дала этой униформе сама Рюко, из-за того, что он выпил крови и «проснулся», попросив ещё. Камуй обеспечивает своему владельцу богоподобную способность в обмен на кровь носителя. Защищал Рюко собой, когда ей угрожал Цумугу. В боях против «элитной четвёрки» Сэнкэцу открывает в себе новые способности, например к полёту, обнаружению и даже отражению звука. Долгое время Сэнкэцу считался более слабым и несовершенным по сравнению с Камуй, по позже выясняется, что он является совершенной формой тканей жизни, так как единственный обладает разумом и может бесконечно эволюционировать. Развиваться ему позволяют нити «живого волокна», которые он поглощает каждый раз, когда Рюко уничтожает очередную гоку-форму. В 24 серии, во время действия Камуй Рагё, когда он понимает что его слышит Сацуки, он своим телом пронзает Рагё, тем самым убирая поле Абсолютного подчинения. Он осознает что он может свободно развиваться, он имеет собственную волю. После финальной битвы с Рагё, осознаёт, что не справится с новой силой, и решает сжечь себя, падая из космоса с Рюко.<br>

            <img class="img_persone" src="/img/character/p_img11.jpg">
            <br>Сацуки Кирюин (яп. 鬼龍院 皐月 Кирю:ин Сацуки, англ. Satsuki Kiryuin)
            Восемнадцатилетняя девушка, президент студенческого совета, который управляет и держит в страхе всю академию Хоннодзи. Беспощадна и высокомерна, на всех смотрит свысока, придерживаясь в начале философии своей матери: что все люди — глупый скот, который должен управляться одеждой. Несмотря на то, что в школе есть директор и прочие учителя, правит школой именно студенческий совет во главе с Сацуки, потому что её мать — председатель совета директоров академии, Рагё Кирюин. Сацуки держит академию в ежовых рукавицах благодаря своей силе, которая кроется в униформе. Именно она оценивает способности студентов и распределяет униформы среди своих подчинённых. В качестве оружия использует чёрную катану, Бакудзан (яп. 缚斩). Обладает униформой Камуй, как и Рюко. Хотя она быстро учится правильно владеть ею, Сацуки очень тяжело носить Камуй длительное время, который поглощает много крови и силы у неё, также Сацуки не может длительное время воспользоваться всеми возможностями своего костюма, как Рюко. Имя Камуя — Дзюнкэцу (яп. 純潔 букв. «чистота», непорочность), и сам Камуй белого цвета. С матерью всегда была в официальных отношениях, никогда не делилась своими переживаниями с ней, и виделась с ней нечасто. Согласно 18 серии основала академию Хоннодзи для того, чтобы не дать своей матери захватить власть над миром при помощи нитей жизни. Согласно той же серии, старшая сестра Рюко Матой, однако является «неудачным экспериментом» Рагё, так как не унаследовала нити жизни от матери, являясь обыкновенным человеком. Из-за этого Сацуки не способна создать симбиотические отношения с костюмом, как Рюко и не может долго его носить, так как быстро истощается. После того, как узнаёт, что Рюко является её сестрой, начинает благосклонно к ней относится и становится верным спутником по борьбе против матери.<br>

            <img class="img_persone2" src="/img/character/p_img12.jpg">
            <br>Мако Манкансёку (яп. 満艦飾 マコ Манкансёку Мако, англ. Mako Mankanshoku)
            Учится во втором классе старшей школы, в академии Хоннодзи. Повстречалась с Рюко за пределами академии, в городе. Позже они встретились в самой академии, когда учитель представлял Рюко классу как новую ученицу. Мако сразу же привязалась к Рюко и предложила сесть рядом с собой, за соседней партой. Любит поспать и поесть на уроках, хотя на вид она прилежная ученица. Мако немного глупа, не слишком задумывается о серьёзности ситуаций, но добра, приветлива, разговорчива и жизнерадостна. Мако живёт с родителями и младшим братом в трущобах, но, несмотря на это, семья Манкансёку счастлива. Мако готова защитить Рюко и оправдать любые её действия, поощряя её. Её действия немного непонятны, она теряется в опасных ситуациях, но тем не менее, своими действиями завоевала уважение элитной четвёрки. Мако никогда не покидает Рюко, считая, что самое безопасное место именно рядом с ней. " Лучше всех в академии умеет слышать то, что хочет"<br>

            <br>«Элитная четвёрка»<br>
            <br>Ира Гамагори (яп. 蟇郡 苛 Гамаго:ри Ира, англ. Ira Gamagoori)
            <img class="img_persone" src="/img/character/p_img13.jpg">
            "Жаба" Председатель комитета по общественной нравственности, дисциплинарного комитета. Прислуживает Сацуки, которой поклялся в верности, и делает всё, чтобы ничего её не беспокоило. Ире 20 лет, но, несмотря на то, что он давно окончил школу, он вступает в академию Хоннодзи, чтобы помочь осуществиться планам Сацуки. Его униформа имеет три звезды — «одеяния пут» (яп. 縛の装 сибари но со:), которая при трансформации принимает форму перевязочных бандажей. По завершении атак противника в состоянии мазохиста, форма проходит вторую трансформацию — «одеяния плетей» (яп. 死縛の装 сибаки но со:), которое охватывает тело колючими кнутами. Очень жестоко относится к ученикам, особенно если они нарушают правила академии, значительно позже начинает относится нежно и бережно к Мако, переживать за неё и всячески защищать.<br>

            <img class="img_persone2" src="/img/character/p_img5.jpg">
            <br>Удзу Санагэяма (яп. 猿投山 渦 Санагэяма Удзу, англ. Uzu Sanageyama)
            "Обезьяна" Председатель комитета по спортивным кружкам, включая теннисный и боксёрский клубы. Удзу специализируется в кэндо и обладает трёхзвёздочной униформой Гоку — «одеяния мечей» (яп. 剣の装 цуруги но со:), которая принимает форму огромного бронированного богу (защитное снаряжение в кэндо). Изначально обладает тэнгацу (яп. 天眼通 ясновидение), что позволяет Удзу предвидеть движения противника благодаря быстрому просмотру и острому зрению. Однако, после неудачного сражения с Рюко, он решает зашить свои глаза, что даёт возможность усиливать другие чувства и ощущения, что впоследствии даёт ему более мощную способность — сингацу (яп. 心眼通 власть ока сознания). Эта способность позволяет воспринимать всё вокруг без задействования слепого пятна, что превышает возможности униформы Гоку. В конце "раскрывает" глаза, что позволяет ему использовать в бою и зрение, делая его ещё сильнее. В боях Удзу всё больше раскрывает способности сингацу и ускоряет свои атаки с получением обновлённой униформы.<br>

            <img class="img_persone" src="/img/character/p_img2.jpg">
            <br>Хока Инумута (яп. 犬牟田 宝火 Инумута Хо:ка, англ. Houka Inumuta)
            "Собака" Председатель комитета информационного и стратегического клубов, генерал разведки. Всегда старается добиться наилучшего результата, затратив на это минимум усилий. Отвечает за информацию в академии Хоннодзи, помогает студенческому совету, анализируя информацию через свои приборы. Также Хока отвечает за анализ формы Гоку, сделанной в швейном клубе, и следит за процессом тестирования формы. Обладает трёхзвёздочной униформой Гоку — «одеяния анализа (зонда)» (яп. 探の装 сагуру но со:), что позволяет ему быстро рассчитать траекторию атаки и использовать оптический камуфляж, чтобы скрыться от своих противников. Способен победить ученика впятизвёздочной форме гоку, находя слабые места. До прихода в академию был обычным хакером, который смог взломать сайт Revocs.<br>

            <br>Нонон Дзякудзурэ (яп. 蛇崩 乃音 Дзякудзурэ Нонон, англ. Nonon Jakuzure)
            <img class="img_persone2" src="/img/character/p_img9.jpeg">
            "Змея" Председатель комитета по «неспортивным» культурным кружкам, включая кружок садоводства и кружок биологии. Среди членов «элитной четвёрки» она была с Сацуки вместе с детского сада и утверждает, что поэтому знает её лучше всех. Обладает трёхзвёздочной униформой Гоку — «одеяния музыки (симфонии)» (яп. 奏の装 канадэ но со:), и принимает форму огромной звуковой системы, которая производит мощные звуковые волны и может трансформироваться в летающий дирижабль. Нонон грубо себя ведёт с другими, однако довольно неуравновешенна, когда дело доходит до обсуждения её личности.<br>

            <br>«Нудистский пляж»<br>

            <img class="img_persone1" src="/img/character/p_img10.jpg">
            <br>Айкуро Микисуги (яп. 美木杉 愛九郎 Микисуги Айкуро:, англ. Aikuro Mikisugi)
            Классный учитель Рюко, на первый взгляд кажется безразличным к происходящему. Позже оказывается, что учитель — лишь его прикрытие. Тайно наблюдает за Рюко, именно он помог её встрече с Сэнкэцу. Наедине с Рюко склонен к эксгибиционизму и безуспешно пытается соблазнить её, медленно снимая одежду и пододвигаясь к ней всё ближе. Но несмотря на свои странные привычки, готов помочь Рюко, если она попадёт в плохую ситуацию. Чаще всего наблюдает за событиями из окна своего класса. Состоит в организации «Nudist Beach» (яп. ヌーディスト・ビーチ ну:дисуто б:ити), о которой поведал Рюко, но она не поверила этому из-за смешного названия. Партнёр Айкуро — Цумугу, они часто работают в команде.<br>


            <img class="img_persone2" src="/img/character/p_img3.jpg">
            <br>Цумугу Кинагасэ (яп. 黄長瀬 紬 Кинагасэ Цумугу, англ. Tsumugu Kinagase)
            Знакомый Айкуро, также как и он состоит в организации «Nudist Beach». Ненавидит Камуй, потому что он меняет человека не в лучшую сторону, и борется с помощью специальных игл, способных разъединять связь между живыми волокнами униформы Гоку или Камуи и их владельцами. Он любит говорить фразу «позволь мне сказать тебе две вещи» (яп. 2つ、いいことを教えてやる футацу, ий кото о осиэтэяру). Его сестра, Кинуэ (яп. 絹江) погибла при эксперименте с живыми волокнами, поэтому он не хочет допустить, чтобы такое повторилось ещё с кем-то.<br>

            <img class="img_persone" src="/img/character/p_img14.jpg">
            <br>Иссин Матой (яп. 纏 一身 Иссин Матой, англ. Isshin Matoi) / Сойтиро Кирюин (яп. 鬼龍院 総一郎 Кирю:ин Со:йтиро:, англ. Soichiro Kiryuin)
            Отец Рюко, который создал Камуи Сэнкэцу и ножницы, которые могли резать жизненные нити. Был убит Харимэ, которая украла фиолетовую половину ножниц, оставив красную Рюко. Иссин всегда много времени проводил за работой, поэтому мало проводил времени с Рюко. Основал «Nudist Beach», организацию, которая противостоит корпорации Revocs. Позже выясняется, что на самом деле он муж Рагё и отец Сацуки Кирюин, Сойтиро Кирюин. Он подделал свою смерть от взрыва и поменял имя, чтобы вырастить свою дочь, Рюко, а также противостоять жестоким планам Рагё Кирюин.<br>

            <br>Корпорация Revocs<br>

            <img class="img_persone2" src="/img/character/p_img7.jpeg">
            <br>Рагё Кирюин (яп. 鬼龍院 羅暁 Кирю:ин Рагё:, англ. Ragyo Kiryuin)
            Мать Сацуки и Рюко, главный антагонист сериала. Является генеральным директором корпорации Revocs (яп. REVOCS（リボックス）コーポレーション рибоккусу ко:порэ:сён), гигантской корпорации, которая производит и поставляет более 90 % одежды по всему миру. Личность Рагё даёт представление о её изяществе и силе: когда она появляется на выступлении, на неё светит множество прожекторов, помимо того, что свет исходит от её волос, которые сами по себе радужного цвета. На спине имеет несколько шрамов появившихся, согласно 18 серии, из-за вживления в тело исходных нитей жизни. Также, как и Сацуки, смотрит на всех людей свысока. Отношение других людей к Рагё даёт понять, что она влиятельная и высокомерная личность. Имеет склонность к инцесту и насилию.<br>

            <img class="img_persone3" src="/img/character/p_img15.png">
            <br>Нуи Харимэ (яп. 針目 縫 Харимэ Нуй, англ. Nui Harime)
            Главный кутюрье семьи Кирюин, сила которого вызывает опасения даже у Сацуки. Харимэ является той, кто убила отца Рюко, Иссина, и забрала с собой вторую половину ножниц, которая окрашена в фиолетовый цвет. Иссин, защищаясь, повредил глаз Харимэ, из-за чего она лишилась его и ходит с повязкой на глазу. Обладает способностью находить живые нити, вшитые в униформу, которые являются основной структурой униформы Гоку, и, с помощью манипуляций ногтями, резать эту нить, впоследствии лишая противника его униформы. Также у неё есть способность искусно манипулировать собственными клонами. Полноценно рождена из живых нитей, из-за чего считается неуязвимой и неспособной к использованию силы Камуя.<br>

            <img class="img_persone2" src="/img/character/p_img4.jpg">
            <br>Рэй Хоомару (яп. 鳳凰丸 礼 Хо:о:мару Рэй, англ. Rei Hooumaru)
            Офицер корпорации Revocs и личный секретарь Рагё Кирюин.<br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>Семья Манкансёку<br>

            <img class="img_persone" src="/img/character/p_img16.png">
            <br> Матаро Манкансёку (яп. 満艦飾 又郎 Манкансёку Матаро:, англ. Mataro Mankanshoku)
            Младший брат Мако, который страдает хронической клептоманией и любит красть вещи у прохожих, отвлекая их.<br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <img class="img_persone2" src="/img/character/p_img18.jpeg">
            <br>Барадзо Манкансёку (яп. 満艦飾 薔薇蔵 Манкансёку Барадзо:, англ. Barazo Mankanshoku)
            Отец Мако, который руководит сомнительной клиникой, но получается, что он на самом деле убил больше людей, чем спас.<br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <img class="img_persone" src="/img/character/p_img17.jpg">
            <br> Сукуё Манкансёку (яп. 満艦飾 好代 Манкансёку Сукуё, англ. Sukuyo Mankanshoku)
            Мать Мако, является домохозяйкой. Любит готовить еду, которая выглядит ужасно и сделана из чего-то непонятного, но её ест вся семья.<br>
            <br>
            <br>
            <br>
            <br>
            <img class="img_persone2" src="/img/character/p_img19.gif">
            <br>Гатс (яп. ガッツ Гатцу, англ. Guts)
            Собака семьи Манкансёку, порода — мопс.<br>
        </p>
        <p>
            Нити жизни

            <br>Нити жизни (англ. Life Fibers, яп. 生命戦維?) — внеземная, паразитическая форма жизни ответственная за скачок эволюции на Земле и нынешний вид одежды. Все нити жизни находящиеся на земле происходят от исконных нитей жизни (англ. Original Life Fiber, яп. 原初生命戦維?), объекта упавшего на землю сотни тысяч лет назад.<br>

            <br>История

            <br>Вскоре, после попадания на землю, нити стали паразитировать на живых организмах, проникая в их нервную систему. Однако поражённые нитями не выдерживали такой нагрузки и быстро умирали, тогда нити жизни стали «обволакивать» не мешая им дальше жить обычной жизнью. В последствии нити выбрали самый развитый на тот момент вид, человекоподобных обезьян, и стали ускорять их эволюционный процесс, что-бы вырастить себе более подходящую пищу, через какое-то время нити перешли в стадию спячки, оставив людям привычку носить одежду. За 20 лет до основного сюжета аниме Рагё Кирюин нашла источник исконных нитей жизни, что-бы пробудить их ото сна.<br>

            <br>Биология
            Нити жизни — Организм пришедший из глубин космоса лежащих за пределами солнечной системы и даже, возможно, за пределами галактики. Их история эволюции неизвестна и они в корне отличаются о любой другой, известной, земной формы жизни.<bt>

            Нити жизни — это многоклеточные микроорганизмы, чья структура напоминает длинные, тонкие нити излучающие ярко-алое свечение. Эти нити намного прочнее чем большинство земных материалов, так же имеют свойство регенерироваться даже после разделения на двое. Единственный способ остановить процесс регенерации - разделение нитей сразу с двух сторон. Именно для этого Иссиной был разработан Клинок ножницы и именно поэтому он имеет форму ножниц.<br>

            Это паразитическая форма жизни, живущая за счёт биоэнергии, которая находится в клетках нервной системы и крови носителя. Для того, что-бы максимизировать срок жизни носителя, нити охватывают тело хозяина и связываются с его нервной системой, а не паразитируют на внутренних органах.<br>

            Будучи связанным с телом хозяина, нити могут изменять его ДНК. Таким образом произошло развитие человечества, и таким же образом Форма Гоку дарует носителю сверхчеловеческие способности. Нити жизни имеют сознание и способны мыслить, принимать осмысленные решения, но они не способны общаться с людьми. Единственное исключение - Рюко Матой, способная общаться со своим Камуи Сэнкецу и наоборот. Это произошли из-за того, что Иссин Матой, во время создания Сэнкецу, вживил в него гены Рюко. Нити способны быстро приобретать новые способности, эволюционировать, в ответ на раздражители, например - в опасной для нитей или для их носителя ситуации. Именно из-за этого они и считаются особенно опасными.<br>

            Они продвигаются по галактике, производя один и тот же ряд действий: находя планету с разумными формами жизни они начинают ускорять эволюцию сильнейшего из видов, тем самым даёт ему преимущество над остальными. Выбранный вид начинает активно распространяться по планете. После того, как достаточное число этого вида будет захвачено нитями, они возьмут своих хозяев под полный контроль и взлетят в верхние слои атмосферы, создав вокруг планеты большой «кокон». В таком виде нити начинают поглощать планету, создавая новые популяции нитей жизни, после полного поглощения кокон, в прямом смысле, взрывается, разнося по галактике новое поколение нитей жизни.<br>

            Нити жизни используются в производстве Форму Гоку и Камуи, так же небольшое количество нитей используется во всей одежде от «Ревокс», которая, на момент эпизода 21, составляет 100% мирового рынка одежды. Для производства Формы Гоку, в школе «Хоннодзи», используют нити жизни в количестве 10, 20 и 30% от всего материала для однозвёздной, двузвёздной и трёхзвёздной формы соответственно. Камуи же состоят из нитей жизни на 100%.<br>

            <br> Уза

            Уза (англ. Banshi, яп. 絆糸, Banshi?) — особая нить, присутствующая во всех одеждах с содержанием нитей жизни. По словам Сиро Иори, это «нить жизни, заряженная волей превратиться в одежду». Она защищена несколькими слоями обычных нитей, что даёт ей почти полную защиту. Извлечение этой нити приведёт к полному разрушению одежды.<br>

            Одежда из нитей жизни содержит только одну узу, но у Камуи Сэнкецу их было как минимум две. Неизвестно, было ли это задумкой Иссина, или последствие способностей Сэнкецу к поглощению нитей и разрушенных им 3 форм.<br>

            <br>Формы жизни

            <br>Кроме проявления Нитей жизни как одежды можно, с помощью неизвестной операции, сделать гибридную форму жизни человека и Нитей жизни. Такие гибриды нечеловечески сильны и их чрезвычайно трудно убить, из-за регенерации Нитей жизни, единственный способ сделать это - нанести смертельный для человека удар оружием, способным разрезать Нити, таким как Клинок ножницы или Бакузан. Известно всего два таких гибрида: Рюко Матой, с которой в детстве провели эксперименты по скрещиванию с Нитями и считали мёртвой, и Рагё Кирюин, которая добровольно пошла на это для обретения силы, на её спине видны 7 звездообразных шрамов, в тех местах где были вживлены Нити.<br>

            Так-же можно создать искусственного человека, полностью состоящего из Нитей жизни, использовав Исконные Нити жизни как своеобразную матку. Такие люди ничем не отличаются от обычных, ни внешне ни духовно, но наделены огромной силой и регенерацией, но не могут носить ни Форму Гоку ни Камуи. Нуй Харимэ является единственным, искусственно созданным человеком. Точно не известно, но скорее всего концентрация Нитей в теле таких людей составляет 100%.<br>

        </p>
        </div>
    </div>
</main>