<link rel="stylesheet" href="/stylesheets/wiki.css">
<main>
    <div class="main">
        <div class="wiki_content1">
            <h1>Noragami - wiki</h1>
            <p class="paragraf" style="text-indent: 25px">
                «Бездомный бог» (яп. ノラガミ Норагами) — фэнтези-манга Адатитоки. Первая глава была опубликована в январе 2011 года издательством Kodansha в январском выпуске журнала Monthly Shonen Magazine. По состоянию на январь 2018 года манга насчитывала 18 томов Ограниченный выпуск 9 тома также включал в себя CD-драму. Впервые манга вошла в список бестселлеров в Японии во второй половине февраля 2013 года, затем в середине июня 2013 года, второй части октября 2013 и середине декабря 2013. Манга также была опубликована на территории Тайваня — компанией Tong Li Publishing Co., Ltd.. По данным на 2014 манга занимает 14 место по продажам. На русском языке манга издаётся под названием «Бездомный бог» компанией XL Media. Весной 2017 года выпуск манги был приостановлен на неопределенный срок в связи с болезнью одного из авторов.

            </p>
            <p>
                Впервые сообщение о предстоящем выходе аниме-экранизации студии Bones появилось 6 сентября в осеннем выпуске журнала Monthly Shonen Magazine. 30 сентября 2013 года стал известен список сэйю, озвучивавших персонажей. 10 ноября первая серия аниме была показана на азиатском аниме-фестивале 2013 года. Премьерный показ первой серии аниме состоялся на канале Tokyo MX 5 января 2014 года. 3 октября 2015 года студия Bones выпустила второй сезон аниме.

                По данной манге также существует игра для мобильных платформ - Noragami ~Kami To Enishi~, доступная только в Японии<br>

                <br>Ято — малоизвестный бог без собственного храма. Для того, чтобы получить хоть признание и достигнуть своей мечты (Ято хочет стать одним из Семи Богов Счастья) он помогает каждому встречному в любых желаниях, начиная поимкой сбежавших животных и заканчивая присмотром за ребёнком. Однажды девушка по имени Ики Хиёри спасает Ято, приняв его за простого человека, однако теперь она частично стала аякаси (духом, призраком), вследствие чего её душа время от времени отделяется от тела без её желания. Хиёри просит Ято помочь ей и тот соглашается, но связавшись с богом, девушка открывает для себя абсолютно новый и прекрасный мир

            </p>
            <p>
                Персонажи<br>
                <br>Ято (яп. 夜ト Ято) — — главный персонаж, бог войны, мечтающий о своём собственном храме и признании другими богами. Хочет стать самым почитаемым божеством, окружённым множеством последователей, а так же мечтает стать одним из Семи Богов Счастья. Чтобы претворить свою мечту в действительность, берётся выполнить любую человеческую просьбу, вплоть до розыска пропавших котят. Дабы обзавестись последователями, оставляет номер своего телефона в общественных местах при помощи граффити. За выполненную просьбу взимает плату в пять иен (монетка в 5 иен, традиционное подношение богам во время молитвы в храмах Японии), которые копит в специальной бутылке. Любит выпить, часто ведёт себя глупо и самодовольно, но это далеко не настоящий облик Ято. В нужное время становится серьёзным и до ужаса пугающим. Особенно сильно противника пугает его взгляд, который не раз упоминался другими богами. В бою проявляет непревзойдённое владение мечом и любым видом холодного оружия. Практически непобедим. Резко отрицательно относится к самоубийствам, наотрез отказывается помогать людям, которые планируют их совершить. Ято по-своему пытается заботиться о Юкинэ, и даже обещает, что самостоятельно воспитает из него достойного синки (яп. 神器, «священное оружие»). Хоть и подшучивает над ним, всё же по-настоящему заботится о нём. Боится быть забытым всеми. Настоящее имя — Ябоку. Стать одним из богов счастья мечтает в первую очередь для того, чтобы осчастливить тех, кто ему дорог.<br>


                <br>Хиёри Ики (яп. 壱岐 ひより Ики Хиёри) — главная героиня, пятнадцатилетняя ученица старшего класса средней школы. Во втором сезоне 16-летняя. Отец — врач, владелец крупной клиники. Имеет брата, который намного старше неё. Тщательно скрывает от родителей своё, неподобающее дочери уважаемой семьи, увлечение борьбой. Пытаясь спасти Ято от столкновения с автобусом, сама попадает под его колёса, в результате чего оказывается на грани между загробной жизнью и миром живых людей. Впоследствии девушка стала икирёː в критические моменты её душа отделяется от тела. Когда она находится в своей духовной форме, у неё появляется хвост, который является каналом, соединяющим её тело и душу. Если его обрезать, то она умрёт. В форме духа обладает нечеловеческой ловкостью, скоростью и силой. Как и остальные духи, способна чувствовать запах богов на большом расстоянии.<br>

                <br>Юкинэ (яп. 雪音 Юкинэ) — умер ещё в молодом возрасте и ничего о себе не помнит. Поначалу ворует деньги, оправдываясь тем, что он уже умер. Однажды, во время боя с аякаси (Духом, призраком), Ято заметил его и заключил контракт, превратив его в своего синки. В сущности синки принимает образ катаны, только без рукоятки. Ято утверждает, что Юкинэ очень талантлив, и ему не хотелось бы его потерять. После ритуала очищения (омовения) осознал свои ошибки и изменился. Позже пожертвовал своей жизнью в драке с Бисямон и стал священным сосудом, приняв форму двух катан. Имя сосуда — Сэкки.<br>

                <br> Второстепенные персонажи<br>
                <br> Бисямон (яп. 毘沙門 Бисямон) — считается самой могущественной богиней войны, так как обладает множеством синки. Она пытается убить Ято, так как он повинен в смерти её прежних синки — клана «Ма». Называет свои поступки «необходимым злом, нужным для уничтожения ещё большего зла», которым, по её мнению, является Ято. Она очень тепло относится к своим синки, называя их своими «детьми».<br>

                <br> Кадзума (яп. 兆麻 Кадзума) — главный синки Бисямон, анализирующий обстановку и координирующий действия своей богини. Принимает форму серёжки-гвоздика в виде цветка, способен отслеживать врагов и видеть скопление негативной энергии. До того, как стал священным оружием, был простой серёжкой-гвоздиком, за что презирался старшими синки в клане, ведь гвоздик не был оружием, да ещё и прокалывал тело госпожи. Лояльно относится к Ято, так как в долгу перед ним. Имя сосуда — Тёки.<br>

                <br> Кофуку (яп. 小福 Кофуку) — богиня нищеты. Ради Ято делает многое. Очень энергичная, вежливая. Кофуку очень хорошо относится к Хиёри. Так как она богиня нищеты, сражаясь, может лишь всё разрушать, из-за чего даже Бисямон опасается с ней сталкиваться. Обладает особенность «отпугивать» удачу. Для того, чтобы не отпугивать людей, работает под псевдонимом Эбису — богом торговли и удачи.<br>

                <br> Дайкоку (яп. 大黒 Дайкоку) — синки, принадлежащий Кофуку. Имя сосуда — Коки. Человек строгой выправки, относящийся ко многому с подозрением. Курит. Очень любит свою богиню, из-за чего Юкинэ и Хиёри при первой встрече решили, что они женаты. В сущности синки принимает образ веера, взмахнув которым, можно открыть дыру в измерение аякаси.<br>

                <br>Нора (яп. 野良 Нора, «Бродячая») — синки Ято. Бродячая, имеет множество имён, из-за чего все её тело покрыто татуировками с именами. С помощью масок может управлять аякаси. Периодически пытается вернуть Ято к их общему отцу. Считает, что Хиёри и Юкинэ ослабляют Ято и делают его ничтожным. Отец Ято называет её Мидзути. Имя данное Ято — Хииро.<br>

                <br> Тэндзин (яп. 天神 Тэндзин) — бог наук. Постоянно цитирует стихи. Владеет большим храмом, из-за чего любит подтрунивать над Ято. Именно к нему ушла от Ято его бывшая синки, Маю.<br>

                <br> Маю (яп. 真喩 Маю) — синки Тэндзина, принимающая форму курительной трубки. Выглядит как молодая девушка с короткими тёмными волосами и зелёными глазами. На начало манги была синки Ято, принимающая форму оружия, напоминающее кинжал. Даже если и презирает Ято, считает его хорошим богом и иногда помогает ему. Заботится о Юкинэ, любит с ним поговорить. Одна из синки, которая провела обряд очищения Юкинэ. Будучи синки Ято, носила имя Томонэ (яп. 伴音).<br>


            </p>
            <p>
                Шинки<br>

                <br> Шинки - (神器, что означает "священные сосуды") это орудия, которых боги используют для различных задач и целей.<br>

                <br> Происхождение<br>
                <br>Шинки сделан из свободного духа мертвого человека (死 霊, shiryou). Под "свободным духом" подразумеваются блуждающие души людей, умерших или убитых. Боги решили, что люди, которые умерли из-за этих причин, заслуживают второй шанс, так как они по-прежнему хотели жить, это, вероятно, почему эти души стали шинки. Так как большинство из свободных духов умерли в молодом возрасте, то как шинки они выглядят молодо. Однако это также зависит от возраста человека, когда он/она умер(ла). Юкине, например, выглядит, как подросток, Маю выглядит, как женщина двадцати-двадцати пяти лет, Дайкоку выглядит, как человек 30 лет, а Кураха как 50 летний мужчина.<br>

                <br>Перед тем, как свободного духа сделают шинки, дух не должен быть поврежден. Дух может быть поврежден, и становится непригодными, когда он одержим призраками (частично или полностью). Так же не может стать шинки дух, который умер из-за
                самоубийства. Его форма шинки становится частично или полностью непригодным для использования.<br>

                <br>Создание шинки<br>
                <br>Когда Бог видит свободный дух и хочет взять его в качестве шинки, Бог должен дать ему имя. Имя пишется кандзи персонажа с использованием собственной жизнью бога, и два альтернативных произношения на основе чтения кандзи персонажа : японское чтение и китайское чтение. Кандзи будет запечатлен на теле шинки, отмечая собственности на указанный дух.<br>

                <br>Первое произношение имя шинки основано на японском чтении для указанного кандзи персонажа. Обычно бог добавляет другое кандзи к имени, чтобы имя шинки было, как у человека. Эти кандзи персонажа служат "фамилией" шинки или "имя клана", и Бог может иметь одну или больше фамилий по желанию. Например. У Ято "Не" (音), у Тэндзина "ю" (喩), у Кофуку является "Дай" (大),у Бишамон есть две "фамилии" - "Ма" (麻) для Казумы и "Ха" (巴) для остальных.<br>

                <br> Второе произношение является названием сосуда, и основано на китайском чтении для указанного персонажа. Использование второго имя меняет шинки в своей форме и превращает в орудие. Обычно символ "Ки" (器, что означает "сосуд") добавляется к концу второго имени.<br>

                <br>Форма шинки варьируется от владельца бога к другому, например, оружия, животные, одежда, аксессуары и т.д. Например, Юкине становится клинками, Маю является курительной трубкой, Дайкоку становится веером, Казума серьгой, Кураха львом , Кинуха кнутом, Цугуха комплектом провокационной одежды, Каруха и Казуха пистолетами, и т.д.<br>

                <br>Ниже представлен список известных шинки, альтернативных имен, и их владельцев богов.<br>

                Кандзи имени шинки	Настоящее имя шинки<br>
                (Японское чтение)	Название сосуда<br>
                шинки (Китайское чтение)	Имя<br>
                шинки, как человека	Имя шинки в качестве оружия	Владелец Бог<br>
                雪	Юки	Сетсу	Юкине (雪音)	Секки (雪器)	Ято<br>
                伴	Томо	Хан	Томоне (伴音)	Ханки (伴器)	Ято<br>
                緋	Хииро	Хи	Хиро (緋)3	Хики (緋器)	Ято<br>
                眞	Макото	Шин	Маю (真喩)1	Шинки (眞器)	Тендзин<br>
                黒	Куро	Коку	Дайкоку (大黒)2	Коки (黒器)	Кофуку<br>
                兆	Казу	Чо	Казума (兆麻)	Чоки (兆器)	Бишамон<br>
                囷	Кура	Кин	Кураха (囷巴)	Кинки (囷器)	Бишамон<br>
                紹	Цугу	Шо	Цугуха (紹巴)	Шоки (紹器)	Бишамон<br>
                數	Казу	Су	Казуха (數巴)	Суйки (數器)	Бишамон<br>
                刈	Кару	Гай	Каруха (刈巴)	Гаики (刈器)	Бишамон<br>
                秋	Аки	Шу	Акиха (秋巴)	Шуки (秋器)	Бишамон<br>
                靫	Юги	Сай	Югиха (靫巴)	Сайки (靫器)	Бишамон<br>
                紝	Кину	Джин	Кинуха (紝巴)	Джинки (紝器)	Бишамон<br>
                筒	Цуцу	Ту	Цуцуми (筒弥)3	Туки (筒器)	Эбису<br>
                螭	Мизучи	Ши	Мизучи (螭)3	Шики (螭器)	Фуджисаки Кото<br>
                黄	Ки	У	Киун (黄云)	Уки (黄器)	Такемиказучи<br>

            </p>
        </div>
    </div>
</main>