<link rel="stylesheet" href="/stylesheets/wiki.css">
{{!-- <main> --}}
    <div class="main">
        <div class="wiki_content1">
            <h1>No game no life - wiki</h1>
            <p class="paragraf" style="text-indent: 25px">
                Нет игры-нет жизни» (яп. ノーゲーム・ノーライフ Но:гэ:му но:райфу, англ. No Game No Life) — серия ранобэ, написанная и иллюстрированная Ю Камией. На сентябрь 2016 были опубликованы 9 томов. Манга-адаптацией занимался Ю Камия, иллюстрировала Масиро Хиираги. Манга начала издаваться в журнале Monthly Comic Alive 27 января 2013 года. Аниме-адаптация студии Madhouse транслировалась с 9 апреля по 25 июня 2014 года.
            </p>
            <p>
                Сюжет
                Брат и сестра, Сора и Сиро, неразлучны, как в реальном, так в игровом мире. Их индивидуальные навыки в совокупности делают их идеальной командой: Сора, с его хорошо развитой интуицией, и Сиро, с её замечательным интеллектом, уровень которого выходит за рамки возможного. В реальном мире они NEET, но в игровом мире они известны как 「 」 (яп. 空白 Ку:хаку, букв. «Пробел»), непобедимая группа онлайн-игроков. Их называют «Пустые», поскольку имена учётных записей игроков всегда остаются незаполненными. Однажды, после победы над таинственным противником в онлайн-шахматах, брат и сестра получают предложение возродиться в другом мире под названием Disboard, где все решается с помощью игр. Согласившись, они попадают в другой мир, где встречают бога этого мира — Тета, который и оказывается тем таинственным соперником. Вместе Сора и Сиро начинают своё путешествие, помогая слабой человеческой расе Иманити завоевать этот мир, чтобы бросить вызов самому Тету и получить звание Бога.В прошлом в Дисборде шла война между богами и их созданиями за трон Единственного Бога. В итоге ужасная война закончилась тем что на трон взошел бог не принимавший участия в конфликте. Заполучив власть этот бог запретил грабежи и кровопролитие. Вместо них он оставил десять соглашений обязывающих решать конфликты посредством игр и устанавливающих правила их проведения. Попав в Дисборд Сора и Сиро выясняют что умерший король страны Эльчеа завещал страну в которой они находятся лучшему игроку.

            </p>
            <p>
            <br>
                Персонажи</br>


            </br>Сора — главный персонаж, восемнадцатилетний парень. Прогульщик, социопат, затворник, игрозависимый. Сводный брат Сиро. Как и Сиро, моментально усваивает новую письменность, но все же не может похвастаться столь же большими способностями к языкам. Однако Сора прекрасно понимает других людей, что позволяет ему распознавать обман и легко обманывать других самому. Таким образом он дополняет гениальность сестры. Должен всегда находиться рядом с Сиро для сохранения собственного душевного равновесия. С развитием сюжета стал королем людской расы и поставил целью стать богом.</br>


            </br>Сиро — главная героиня, возраст 11 лет. Прогульщица, социопатка, затворница, игрозависимая. Двадцать раз подряд выиграла в шахматы у программы, побеждавшей гроссмейстеров. Говорит на восемнадцати языках. Способна усваивать новую письменность за время, необходимое человеку на непродолжительный разговор. Несмотря на свою гениальность, неспособна понимать других людей. Как и Сора, не может слишком удаляться от брата. С развитием сюжета стала королевой человеческой расы.</br>


            </br>Стефария Дора — внучка умершего короля, завещавшего страну лучшему игроку. Влюблена в Сору, так как проиграла ему желание и тот потребовал что бы девушка влюбилась в него. Из-за навязанных законами Дисборда чувств к Соре, фактически является его подчиненной. Хотя Стефария плохо играет в игры, она прекрасно образована. Поэтому Сора и Сиро оставили ей политические вопросы, сосредоточившись на играх. Периодически Стефария пытается вновь сразиться с Сорой и Сиро, что неизменно заканчивается ее поражением и необходимостью выполнить постыдное желание. Тем не менее, эти сражения улучшают навыки Стефарии и хотя ее способности не могут сравниться с " ", в результате она оказывается способна обыграть любого человека пошедшего против брата и сестры.</br>


            </br>Дзибирил — сильнейшая представительница расы ангелов, как и прочие представители ее расы обожает сбор всевозможных знаний. В прошлом выиграла у короля человеческой расы главную библиотеку, что привлекло внимание Соры, искавшего знания о других королевствах. В итоге Дзибирил проиграла себя и библиотеку Соре, став таким образом его подчиненной. С развитием сюжета Дзибирил влюбляется в Сору и в отличие от Стефарии, рада быть его подчиненной.</br>

            </br>Бывший король — дедушка Стефарии. Играл он плохо и за многочисленные проигрыши прославился на всю страну как идиот. Свои низкие способности он осознавал и сам, поэтому посвятил себя сбору информации которая поможет его более успешным преемникам.

            </br>Кламми Зелл — девушка верящая что люди могут выжить лишь опираясь на силу других рас. В соответствии со своими убеждениями она объединила представителей различных рас, чтобы вместе выиграть трон правителя человеческой расы. В итоге проиграла Соре сначала битву за трон, а потом и свою память. Позднее, однако, Сора решил позволить Зелл получить как ее воспоминания, так и память самого Соры.</br>

            </br>Феел Нилвален — девушка-эльф. Несмотря на ее юную внешность, на самом деле ей 52 года. Партнер Кламми в играх, помогающий ей жульничать. Также хозяйка Кламми. Несмотря на их отношения хозяина и слуги, они остаются чрезвычайно близки. Считается позором семьи Нилвален так как может использовать всего два типа магии одновременно. Однако, на самом деле она просто скрывает что ее предел — шесть различных заклинаний.</br>

            </br>Идзуна Хацунэ — девушка-зверь, посол расы зверолюдей в стране людей. В прошлом зверолюди выиграли у людей половину королевства. Позднее Сора обнаружил что зверолюди нуждаются в ресурсах чтобы выжить и кроме того, постоянно жульничают в играх. Это позволило ему заставить зверолюдей присоединиться к нему. Идзуна же стала одной из подчиненных Соры.</br>

            </br>Тэт — Единый Бог Дисборда, бог игр призвавший Сору и Сиро в свой мир. Основная причина призыва — Тэт надеялся что брат и сестра развеют его скуку. Тэт уверен в способностях Соры и Сиро и верит что однажды они смогут побороться с ним за титул бога. Для этого брат и сестра должны собрать шестнадцать шахматных фигур, победив или объединив под своей властью шестнадцать рас Дисборда. Сам Тэт не принадлежит ни к одной из рас и может свободно менять свой облик.</br>

            </p>
            <p>
                Расы Дисборда</br>
                </br>Иманити — человечество, раса занимающая самое последнее, шестнадцатое место по способностям к магии. Не способны ни пользоваться магией, ни распознавать ее. Какими либо иными особыми способностями также не обладают. В прошлом были крупнейшей нацией Дисборда, но после того как все стало решаться посредством игр растеряли свои территории и остались с единственным городом. Шахматная фигура иманити — король.</br>

                </br>Флюгель — раса ангелов, созданная Старыми Богами для сражения друг с другом. Бессмертны, занимают шестое место по способностям к магии. В прошлом коллекционировали головы врагов, после того как кровопролитие было запрещено — посвятили себя сбору книг отобранных у соседей. Из-за тяги ангелов к знаниям, их родина оказалась завалена книгами и был издан закон по которому ангелы должны делиться книгами друг с другом.</br>

                </br>Эльфы — крупнейшая нация Дисборда, занимающая седьмое место по способностям к магии. Хотя государственный строй эльфов — демократия, они тем не менее используют выигранных представителей других рас как рабов. За восемьсот лет до введения десяти законов Тэта Дзибирил разрушила столицу эльфов и похитила все их книги о магии. Из-за этого развитие магии эльфов надолго остановилось. Магов делят на ранги соответствующие тому, сколько различных типов магии колдун может использовать одновременно.</br>

                </br>Зверолюди — самая технически продвинутая раса Дисборда. Занимают четырнадцатое место по способностям к магии. Не могут пользоваться магией сами, но могут распознавать чужое колдовство. Также могут читать чужие эмоции и распознавать ложь. У окружающих стараются поддерживать иллюзию того что владеют телепатией. Своим противникам зверолюди предлагают сыграть в видеоигры. Так как видеоигры известны только зверолюдям, они всегда выигрывают. И так как ставкой в игре с ними должна быть память о игре, никто не может понять как именно они выигрывают. Деду Стефарии было разрешено сохранить память о игре, при условии что он до конца жизни ни с кем не поделится этим секретом. Однако, он завещал свою тайну своим приемникам, обойдя таким образом наложенное ограничение. Шахматная фигура зверолюдей — пешка.</br>

                </br>Дампиры или «Те, кто превзошли смерть» — двенадцатая раса Дисборда. В прошлом питались кровью других существ. После запрета кровопролития были вынуждены научиться поглощать души других существ через их телесные выделения. Укушеный дампиром не становится дампиром. Однако, часть души дампира смешивается с жертвой, что сказывается на жертве не лучшим образом. Если же дампир будет пить кровь без физического контакта с жертвой, никаких негативных последствий не будет.</br>

                </br>Сирены —единственная подводная раса Дисборда. Занимают пятнадцатое место по способностям к магии. Не способны использовать магию,но имеют враждебное очарование,которое действует на всех существ(кроме главных героев так как они не имеют духовные цепи).Выглядят как русалки из сказок(верхняя часть тела человеческая,а нижняя рыбий хвост).Как и дампиры из-за 10 абсолютных законов находятся на грани вымирания,потому что все сирены женщины и для размножения им нужен партнер из другой расы,который в следствии процесса умирает.</br>
            </p>
            <p>
                Заповеди Дисборда</br>
                Десять заповедей установленных богом Дисборда, Тэтом.</br>

                1)Запрещены все убийства, войны и грабежи.</br>
                2)Все конфликты должны решаться посредством игр.</br>
                3)Ставки должны быть признаны игроками равноценными.</br>
                4)Ставки и игры могут быть любыми, пока это не противоречит третьему закону.</br>
                5)Вызванная сторона имеет право выбрать правила игры.</br>
                6)Ставки сделанные в соответствии с законами пересмотру не подлежат.</br>
                7)Конфликты между группами решаются их полноправными представителями.</br>
                8)Уличение в жульничестве означает мгновенный проигрыш.</br>
                9)Именем Бога, вышеназванные законы останутся неизменны.</br>
                10)Давайте вместе наслаждаться игрой!</br>
            </p>
        </div>

        <div class="btn_game">
            <a href="/ngnl/question">Перейти к опросу!</a>
        </div>
    </div>
{{!-- </main> --}}